<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--company-id</key>
	<string>com.cocoanaut</string>
	<key>--ignore</key>
	<array>
		<string>*.m</string>
	</array>
	<key>--print-settings</key>
	<true/>
	<key>--project-company</key>
	<string>cocoa:naut</string>
	<key>--project-name</key>
	<string>CNGridView</string>
	<key>--index-desc</key>
	<string>./DocIndex.md</string>
	<key>--output</key>
	<string>./Documentation</string>
    <key>--create-docset</key>
	<true/>
    <key>--create-html</key>
    <true/>
	<key>--install-docset</key>
	<false/>
    <key>--keep-intermediate-files</key>
    <true/>
    <key>--repeat-first-par</key>
    <false/>
	<key>--logformat</key>
	<integer>1</integer>
</dict>
</plist>